@charset 'utf-8';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: rgb(122, 120, 120);
}
ul, li, a{
    list-style: none;
    color: #000;
    text-decoration: none;
}

/* cabeçalho e menu de navegação */
.cabecalho{
    width: 70%;
    height: 8vh;
    line-height: 3em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cabecalho span{
    color: #b6cbce;
}
.cabecalho h2{
    margin: 6px;
    font-size: 20pt;
    
}
.cabecalho h2 a{
    color: rgb(70, 64, 59);
}
.navMenu{
    width: 20%;
}
.navMenu ul{
    list-style: none;
    display: flex;
}
.navMenu li{
    margin: 5px;
  
}
.navMenu a {
    font-size: 17pt;
    text-decoration: none;
    padding: 5px;
    color: #000;
}
.navMenu a:hover{
    color: rgb(22, 64, 99);
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 4px 1px;
}
/* imagem principal "imagem inicio" */
.imgPrin, .imgPrin img {
    width: 100%;
}
.imgPrin figcaption{
    display: block;
    width: 60%;
    height: 30vh;
    position: absolute;
    margin-top: -30%;
    margin-left: 20%;
    text-align: center;
    font-size: 25pt;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    color: #fff;
    border: solid 0.1px rgb(214, 197, 197);
}
/* "Seja Bem-Vindo" e cards de descrição dos qaurtos*/
.imgPrin figcaption span{
    line-height: 3em;
    font-size: 35pt;
}
.artCont, .descruart{
    margin: 50px auto;
    width: 70%;
    text-align: center;
    line-height: 3em;
}
.artCont h2{
    font-size: 25pt;
}
.descrQuart {
   display: flex;
   margin-top: 50px;
   flex-wrap: wrap;
   justify-content: space-between;
}
.descrQuart .card{
   border: solid 1px #fff;
   box-shadow: rgba(68, 47, 47, 0.3) 2px 2px 5px;
   
}
.card img:hover{
    padding: 5px;
    box-shadow: rgba(68, 47, 47, 10);
}
 .descrQuart img{
     max-width: 300px;
}
/* Container Rotas */
.artCont iframe{
    width: 140%;
    margin-left: -20%;  
}
/* Container "sobre a pousada" */
.contCardSobre{
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardSobre{
    width: 45%;
    height: 25vh;
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;  
}.cardSobre figcaption{
    line-height: 1.5;
    text-align: left;

}
.cardSobre figcaption h3{
    line-height: 5em;
    margin-bottom: -25px;
}
.cardSobre img{
    width: 40%;
    height: 25vh;
}
#figquart{
    line-height: 1em;
    margin-bottom: -25px;
}
#figrecep {
  width: 60%;
}
/* roda pé */
.rodape{ 
    padding-top: 30px;
    color: #fff;
    background-color: #009762;
    height: 20vh;
}
.navFoot{
    margin: 0 auto 15px;
    height: 10vh;
    width: 70%;
    border-bottom: solid 2px rgba(2, 63, 2, 0.192);
}
.navFoot ul{
    display: flex;
}
.navFoot ul li{
    width: 30%;
    margin: 0 15px
}
.navFoot ul li a, strong{
    display: flex;
    height: 5vh;
    color: #fff;
}
.navFoot ul li a img{
    padding-right: 10px;
}
.rodape p{
    text-align: center;
}
@media (max-width:430px){
    section.corpo h2{
        font-size: 16pt;
    }
    section.corpo p{
        line-height: 1.5em;
        font-size: 12pt;
    }
/* cabecalho header */
    header.cabecalho{
        text-align: center;
        display: block;
        height: 17vh;
    }
    header.cabecalho nav.navMenu {
        margin-top: -5%;
        width: 100%;
    }
    header.cabecalho nav.navMenu ul li{
        margin: 0 auto;
    }
    header.cabecalho nav.navMenu ul li a{
        font-size: 12pt;
    }
/* imagem principal e seu figcaption */
    section.corpo figure.imgPrin figcaption{
        height: 20vh;
        margin-top: -40%;
        font-size: 12pt;
    }
    section.corpo figure.imgPrin figcaption span{
        font-size: 15pt;
    }
/* imagens dos cards quartos */
    article.artCont figure.card{
        width: 100%;
    }
    article.artCont figure.card img{
        width: 100%;   
    }
/* iframe rota */
    article.artCont div.rota iframe{
        height: 55vh;
    }
/* texto titulos e cards da secao sobre */
    section.corpo .contCardSobre{
        width: 100%;
        
    }
    .contCardSobre figure.cardSobre{
        display: flex;
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }
    .contCardSobre figure.cardSobre h3{
        margin-top: -40px;
    }
    .contCardSobre figure.cardSobre img{
        height: auto;
      
    }
/* footer rosape */
    footer.rodape{
        height: auto;
        clear: both;
    }
    footer.rodape nav{
        height: auto;
    }
    footer.rodape nav ul{
        display: block;
        height: auto;
        width: 50%;        
    }
    footer.rodape nav ul li{
        width: 100%;
        font-size: 12pt;
        margin:  0;
        padding: 10px 0;
    }footer.rodape strong,
    footer.rodape nav ul li a{
        width: 200%;
    }
    footer.rodape nav,
    footer.rodape p{
        padding-bottom: 10px;
    }
}